@use "global" as *;

.header.is-dark {
    background-color: $gray4;
}

.header.is-open {
    background-color: #2C3E50;
}

.header {
    height: rem(80);
    background-color: rgba($green, $alpha: 0.68);
    z-index: 1000;
    position: fixed;
    width: 100%;
    transition: 0.3s;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;

    @include mq(md) {
        height: rem(90);
    }
}

.header__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(13);

    @include mq(md) {
        padding-left: rem(36);
        padding-right: rem(41);
    }
}

.header__drawer {
    @include mq(md) {
        display: none;
    }
}

.header__pc-nav {
    display: none;

    @include mq(md) {
        display: flex; // ✅ blockからflexへ変更し、横並び制御しやすく
    align-items: center;
    justify-content: flex-end;
    gap: rem(20); // ナビ間のスペース
    flex-shrink: 1; // ✅ 縮小を許可
    min-width: 0; // ✅ 折り返し防止
    height: inherit;
    }
}

.header__title {
    margin-top: rem(6);

    @include mq(md) {
        margin-top: rem(8);
    }
}

.header__logo-link {
    height: inherit;
    display: block;
    position: relative;
    z-index: 9999;
    width: rem(180);

    @include mq(md) {
        width: rem(220);
    }
}