@use "global" as *;

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  align-items: center; // 縦中央揃え
  justify-content: center; // 横中央揃え
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__image {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal__img {
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding-inline: rem(10);

  @include mq(md){
    padding: none;
  }
}

.modal__img--landscape {
  width: rem(1000);
}

.modal__img--portrait {
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.modal__close {
  position: absolute;
  top: rem(20);
  right: rem(20);
  background: transparent;
  border: none;
  font-size: rem(32);
  color: $white;
  cursor: pointer;
  z-index: 2100;
  transition: opacity ease 0.3s;
}

.modal__close:hover {
  opacity: 0.7;
}