@use "global" as *;

.page-about {
    position: relative;
    z-index: 1;
}

.page-about::before {
    content: "";
    background-image: url(../images/common/watage.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: rem(70);
    height: rem(70);
    top: rem(-40);
    left: calc(50% - min(48vw, rem(350)));
    z-index: 2;

    @include mq(md) {
        width: rem(200);
        height: rem(200);
        top: rem(-120);
        left: calc(50% - min(48vw, rem(600)));
    }
}

.page-about__section-header {
    margin-top: rem(40);
}