@use "global" as *;

.page-blog {
    position: relative;
}

.page-blog::before {
    content: "";
    background-image: url(../images/common/watage.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    // width: rem(80);
    // height: rem(85);
    // top: rem(-45);
    // left: calc(50% - min(48vw, rem(400)));
    z-index: -1;

    @include mq(md) {
        width: rem(150);
        height: rem(150);
        top: rem(-150);
        left: calc(50% - min(48vw, rem(621)));
    }
}

.page-blog__contents {
    @include mq(md) {
        display: grid;
        gap: rem(80);
        grid-template-columns: 1fr rem(294);
    }
}

.page-blog__pagenavi {
    margin-top: rem(80);
    @include mq(md){
       margin-top: rem(76);
    }
}

.page-blog__sidebar {
    margin-top: rem(82);

    @include mq(md) {
        margin-top: 0;
    }
}

body#top.blog.wp-theme-WordPressTheme::after {
    display: none;
}

