@use "global" as *;

.voice {
    @include mq(md) {
        position: relative;
    }
}

.voice__image_1 {
    display: none;
    @include mq(md){
        position: absolute;
        display: block;
        top: rem(-140);
        left: calc(50% - min(48vw, rem(650)));
        width: rem(272);
        height: rem(218);
        animation: swing 3s ease infinite;
    }
}

.voice__image_2 {
    display: none;
    @include mq(md){
        position: absolute;
        display: block;
        bottom: rem(-65);
        right: calc(50% - min(48vw, rem(650)));
        width: rem(200);
        height: rem(200);
        animation: swing 3s ease infinite;
    }
}

@keyframes swing {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0);
    }
}


// .voice::after {
//     @include mq(md) {
//         content: "";
//         display: block;
//         background-image: url(../images/common/speakswallow.png);
//         position: absolute;
//         background-repeat: no-repeat;
//         background-size: cover;
//         top: rem(-140);
//         left: calc(50% - min(48vw, rem(650)));
//         width: rem(272);
//         height: rem(218);
//     }
// }

// .voice::before {
//     @include mq(md) {
//         display: block;
//         content: "";
//         background-image: url(../images/common/swingswallow.png);
//         position: absolute;
//         background-repeat: no-repeat;
//         background-size: cover;
//         position: absolute;
//         bottom: rem(-71);
//         right: calc(50% - min(48vw, rem(650)));
//         width: rem(200);
//         height: rem(200);
//     }
// }

.voice__contents {
    margin-top: rem(44);

    @include mq(md) {
        margin-top: rem(35);
    }
}

.voice-cards {
    display: grid;
    gap: rem(38);
    grid-template-columns: repeat(1, 1fr);
    place-items: center;

    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.voice-cards--layout {
    display: grid;
    gap: rem(40);
    grid-template-columns: 100%;
    @include mq(md){
       grid-template-columns: 1fr 1fr;
       gap: rem(80) rem(40);
    }
}

.voice__btn {
    margin-top: rem(39);

    @include mq(md) {
        margin-top: rem(81);
    }
}